server:
  port: 8081

spring:
  application:
    name: user-service
  profiles:
    active: dev

# Actuator配置
management:
  endpoints:
    web:
      exposure:
        include: health,info

# 日志配置
logging:
  level:
    com.sia.user: DEBUG
