server:
  port: 8085

spring:
  application:
    name: search-service
  profiles:
    active: dev

# Actuator配置
management:
  endpoints:
    web:
      exposure:
        include: health,info

# 日志配置
logging:
  level:
    com.sia.search: DEBUG
