server:
  port: 8083

spring:
  application:
    name: activity-service
  profiles:
    active: dev

# Actuator配置
management:
  endpoints:
    web:
      exposure:
        include: health,info

# 日志配置
logging:
  level:
    com.sia.activity: DEBUG
