server:
  port: 8084

spring:
  application:
    name: wallet-service
  profiles:
    active: dev

# Actuator配置
management:
  endpoints:
    web:
      exposure:
        include: health,info

# 日志配置
logging:
  level:
    com.sia.wallet: DEBUG
